<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Inscription</title>
    </head>
    <body>
        <h1>Page d'inscription</h1>
        <form method="get" target="../blog">
            <fieldset>
                <legend>inscrivez vous svp</legend>
                <input type="text" name="id" required="true">
                &nbsp;
                <input type="password" name="password" required="true" pattern="^[ &'<>-]">
                <&nbsp;
                <input type="submit" value="connexion">
            </fieldset>
        </form>
    </body>
</html>