<!DOCTYPE html>
<html lang="fr">
    <head>
        <title> test universel b </title>
    </head>
    <body>
        <h1>Vous êtes sur la page de test</h1>

        Nous ferons tout pour que votre recherche sois fructeuse! Merci
        <form method="get"  action="../blog" >
            <input type="text" name="nom" >
            &nbsp;
            <input type="password" name="pass">
            <input type="submit" value="envoyer">
        </form>
    </body>
</html>